.cardContainer {
  border-radius: 20px;
  border: 0.5px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.01);
  margin: 20px 0;

  hr {
    background-color: var(--Grey-5, #e0e0e0);
    height: 0.854px;
    border: none;
  }
}
.titlesRow {
  padding: 18px;
  display: flex;
  justify-content: space-between;

  p {
    color: var(--Grey-3, #828282);
    font-size: 16px;
    font-weight: 400;
  }
}

.patientInfo {
  overflow-y: scroll;
}

.patientRow {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;

  p {
    min-width: 130px;
  }

  span {
    min-width: 70px;
  }
}

.statusPill {
  display: flex;
  width: 120px;
  height: 26px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
