.authLayout {
  display: flex;
  position: relative;
  width: 100%;
}

.leftContainer {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 40%;
  position: absolute;
  z-index: -1;
}

.rightContainer {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLeftContainer {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginRightContainer {
  display: flex;
  min-width: 40%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginImage {
  margin-left: 60%;
  max-width: 40%;
  position: absolute;
  z-index: -1;
}
